@font-face {
  font-family: "Imperial Sans Display";
  src: url("fonts/ImperialSansDisplay-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Imperial Sans Display";
  src: url("fonts/ImperialSansDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
}

#app {
    font-family: "Imperial Sans Display", sans-serif;
}

:root {
    --custom-font-family: "Imperial Sans Display";
}
