@font-face {
  font-family: "Imperial Sans Display";
  src: url("fonts/ImperialSansDisplay-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Imperial Sans Display";
  src: url("fonts/ImperialSansDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
}
